In [50]:
import pandas as pd
import numpy as np

In [51]:
df = pd.DataFrame(pd.read_csv('/content/train.csv'))
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [52]:
df.shape

(891, 12)

In [53]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [54]:
drop_co = df.isnull().sum()[df.isnull().sum()>(25/100 * df.shape[0])]
drop_co

Cabin    687
dtype: int64

In [55]:
drop_co.index

Index(['Cabin'], dtype='object')

In [56]:
df.drop(drop_co.index, axis=1, inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [57]:
df.fillna(df.mean(), inplace=True)
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [58]:
df['Embarked'].describe()

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

In [59]:
df['Embarked'].fillna('Q', inplace=True)

In [60]:
df.fillna(df.mean(), inplace=True)
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [61]:
df.corr()

             PassengerId  Survived    Pclass  ...     SibSp     Parch      Fare
PassengerId     1.000000 -0.005007 -0.035144  ... -0.057527 -0.001652  0.012658
Survived       -0.005007  1.000000 -0.338481  ... -0.035322  0.081629  0.257307
Pclass         -0.035144 -0.338481  1.000000  ...  0.083081  0.018443 -0.549500
Age             0.033207 -0.069809 -0.331339  ... -0.232625 -0.179191  0.091566
SibSp          -0.057527 -0.035322  0.083081  ...  1.000000  0.414838  0.159651
Parch          -0.001652  0.081629  0.018443  ...  0.414838  1.000000  0.216225
Fare            0.012658  0.257307 -0.549500  ...  0.159651  0.216225  1.000000

[7 rows x 7 columns]

In [62]:
df['Sex'] = [1 if df['Sex'][i]=='male' else 0 for i in df.index]  # 1 for male and 0 for female
df.groupby(['Sex'])['Survived'].mean()

Sex
0    0.742038
1    0.188908
Name: Survived, dtype: float64

___Survival Rate was lower to men as compared to that of females.

In [63]:
df['Age'] = [1 if df['Age'][i]<=30 else 0 for i in df.index]
df.groupby(['Age'])['Survived'].mean()

Age
0    0.406557
1    0.372014
Name: Survived, dtype: float64

___There is no factor of advantage whether the person is younger to get saved.

In [65]:
df.groupby(['Embarked'])['Survived'].mean()

Embarked
C    0.553571
Q    0.405063
S    0.336957
Name: Survived, dtype: float64

More than 50% People with Embarkation point as 'C'(Cherbourg) survived.

In [66]:
df.groupby(['Pclass'])['Survived'].mean()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

___First Class Passengers get saved more while third class passengers didn't get much help at point of disaster.

 **CONCLUSION**


*   Passengers with first class get saved more while third class passengers didn't get much help at point of disaster.
*   Survival Rate was lower to men as compared to that of females. i.e., priority was to save female. 
*   More than 50% People with Embarkation point as Cherbourg survived.
*   There was no factor of advantage whether the person is younger to get saved.